{% extends "base.html" %}
{% block content %}
<main>

  <!-- 2Columns-Block -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>>Dodaj powiadomienie</h3>
      </div>
    </div>
    <br>
    <table class="table table-striped">
      <form method="POST" action="" name="editAlert">
        <div class="col-sm-12">
          <h6>Nazwa rośliny</h6>
          <select class="form-control" name="plant">
            <option>Storczyk</option>
            <option>Kaktus</option>
          </select>
        </div>
        <br>
        <div class="col-sm-12">
          <h6>Rodzaj powiadomienia</h6>
          <select class="form-control" name="kind">
            <option>Podlewanie</option>
            <option>Nawożenie</option>
          </select>
        </div>
        <br>
        <div class="col-sm-12">
          <h6>Częstotliwość powiadomienia</h6>
          <select class="form-control" name="frequency">
            <option>Codziennie</option>
            <option>Tygodniowo</option>
            <option>Miesięcznie</option>
            <option>Kwartalnie</option>
            <option>Rocznie</option>
          </select>
        </div>
        <div class="row g-3 justify-content-md-center">
          <div class="col-md-7 text-center"><input type="submit" value="Wyślij" name="send" class="btn btn-success"></div>
        </div>
    </form>
    </table>

      </div> 
</main>

{% endblock %}