{% extends "base.html" %}
{% block content %}
<!-- Block -->
<main>
  <!-- 2Columns-Block -->
  <div class="container">
    <div class="col-sm-12">
      <h2 style="text-align:center;">Dodaj roślinę do kolekcji
      </h2><br>
      {% if rosliny %}
        <p style="text-align:center;">Wybierz roślinę lub <a href="/addNewPlant" type="button" class="btn btn-success">dodaj
          własną</a>
      </p><br>
      {% else %}
      <div type="alert" class="alert alert-warning text-center">Nie mamy w tej chwili wolnych roślin do dodania
        <br><br>
        <a href="/addNewPlant" type="button" class="btn btn-success">Dodaj własną roślinę</a>
      </div>
      {% endif %}




      <div class="container">
        <div class="row">
          {% for roslina in rosliny %}
          <a href="#" class="col">
            <div class="p-3 border rounded-1 h-100">
              <div class="row">
                <div class="col"> <img src="static/img/rosliny/{{roslina}}.jpg" style="max-width: 100%;"></div>
              </div>
              <div class="row">
                <div class="col">{{ roslina.description }}</div>
              </div>
              <a href="/addToAccount?plant={{ roslina.id }}">Dodaj</a>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Columns-Block-End -->
</main>
<!-- Block-End -->
<!-- Footer -->
{% endblock %}