{% extends "base.html" %}
{% block content %}
<main>
  <div class="container container-with-padding">
    <div class="row">
      <div class="col-sm-12">
        <h3>Edytuj konto użytkownika</h3>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-6"><img src="static/img/img/1.jpg" class="img-fluid" alt="1.jpg"></div>
      <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
        <form method="POST" name="zaloguj">
            {% if alert %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="alert alert-warning" role="alert">
                {{ alert }}
              </div>
            </div>
          </div>
            {% endif %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="username" class="col-form-label">login</label>
            </div>
            <div class="col-auto">
              <input type="text" name="username" class="form-control" aria-describedby="passwordHelpInline">
            </div>
          </div>
          <br>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="password" class="col-form-label">hasło</label>
            </div>
            <div class="col-auto">
              <input type="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Wymagane od 8 do 20 znaków
              </span>
            </div>
          </div>
          <br>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="password" class="col-form-label">e-mail</label>
            </div>
            <div class="col-auto">
              <input type="text" name="email" class="form-control">
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row row-cols-2">
              <input type="submit" value="Edytuj dane" name="loguj" class="btn btn-light">
            </div>
            </br>
            <div class="row row-cols-2">
              <a href="/delete" class="btn btn-secondary">Usuń konto</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}


