{% extends "base.html" %}
{% block content %}
<main>
  <div class="container container-with-padding">
    <div class="row">
      <div class="col-sm-12">
        <h3>Moja kolekcja roślin</h3>
      </div>
    </div>
    <br>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="btn-group-vertical" style="width:100%;">
          <a href="{{ url_for('add_from_list') }}" type="button" class="btn btn-success">Dodaj nową roślinę</a>
          <a href="/alert" type="button" class="btn btn-dark">Zarządzaj alertami</a>
          <a type="button" class="btn btn-warning">Powiadomienia</a>
          <a href="/account_edit" type="button" class="btn btn-secondary">Opcje</a>
        </div>
      </div>
      <div class="col-md-8">
        {% if rosliny %}
          <div class="row g-3">
            {% for roslina in rosliny %}
              <div class="col-md-4">

                <div class="card" style="height: 100%;">
                  <img class="card-img-top" src="{{ roslina.photo }}" alt="zdjecie rośliny - {{ roslina.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ roslina.name }}</h5>
                    <p class="card-text">{{ roslina.description }}</p>
                      <p class="card-text">{{ roslina.sun }}</p>
                      <a href="{{ url_for('plant_edit', plant_id=roslina.id) }}" class="btn btn-success">Edytuj</a>
                      <a href="{{ url_for('remove', plant_id=roslina.id) }}" class="btn btn-danger">Usuń</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="alert alert-warning" role="alert">Halooo, nic tu jeszcze nie ma... Może czas dodać nową roślinę?</div>
        {% endif %}
      </div>
    </div>  
</main>
{% endblock %}