{% extends "base.html" %}
{% block content %}
<main>

  <!-- 2Columns-Block -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Moja kolekcja roślin</h3>
      </div>
    </div>
    <br>
    <div class="row g-2">
       <!-- Left_Columns-Block -->
      <div class="col-md-4">
        <div class="btn-group-vertical" style="width:100%;">
          <a href="{{ url_for('add_list') }}" type="button" class="btn btn-success">Dodaj nową roślinę</a>
          <a type="button" class="btn btn-dark">Zarządzaj alertami</a>
          <a type="button" class="btn btn-warning">Powiadomienia</a>
          <a type="button" class="btn btn-secondary">Opcje</a>
        </div>
      </div>
      <!--Left_Columns-Block-End -->
      <!-- Right_Columns-Block -->
      <div class="col-md-8">
        {% if rosliny %}
          <div class="row g-3">
            {% for roslina in rosliny %}
              <div class="col-md-4">

                <div class="card" style="height: 100%;">
                  <img class="card-img-top" src="/static/img/rosliny/{{ roslina.photo }}.jpg" alt="zdjecie rośliny - {{ roslina.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ roslina.name }}</h5>
                    <p class="card-text">{{ roslina.description }}</p>
                    <a href="{{ url_for('remove', plant_id=roslina.id) }}" class="btn btn-danger">Usuń</a>
                  </div>
                </div>

              </div>
            {% endfor %}
          </div>
          
        {% else %}
          <div class="alert alert-warning" role="alert">Halooo, nic tu jeszcze nie ma... Może czas dodać nową roślinę?</div>
        {% endif %}
      </div>
      <!-- Right_Columns-Block-End -->
    </div>
    <!-- Columns-Block-End -->
    
</main>
<!-- Block-End -->
{% endblock %}