{% extends "base.html" %}
{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Panel Logowania</h3>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-6"><img src="static/img/img/1.jpg" class="img-fluid" alt="1.jpg"></div>
      <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
        <form method="POST" action="/login" name="zaloguj">
          {% if alert %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="alert alert-warning" role="alert">
                {{ alert }}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="username" class="col-form-label">Login</label>
            </div>
            <div class="col-auto">
              <input type="text" name="username" class="form-control" aria-describedby="passwordHelpInline">
            </div>
          </div>
          <br>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="password" class="col-form-label">Hasło</label>
            </div>
            <div class="col-auto">
              <input type="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
          <br>
          <div class="row g-5">
            <div class="col"><input type="submit" value="Zaloguj" name="loguj" class="btn btn-success btn-block"></div>
            <div class="col"><a href="{{ url_for('register') }}" class="btn btn-primary btn-block" role="button">
              Utwórz konto
            </a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}