{% extends "base.html" %}
{% block content %}
<main>
  <!-- Title/Logo -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style=color:green>Muchałówka </h1>
        <img src="static/img/img/2.gif" class="img-fluid" alt="2.gif">
      </div>
    </div>
  </div>
  <!-- Tile/Logo-End -->
  <!-- 2Columns-Block -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-6"><img src="static/img/img/1.jpg" class="img-fluid" alt="1.jpg"></div>
      <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
        <form method="POST" action="/login" name="zaloguj">
          <h3>Panel Logowania</h3><br><br>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="username" class="col-form-label">Login</label>
            </div>
            <div class="col-auto">
              <input type="text" name="username" class="form-control" aria-describedby="passwordHelpInline">
            </div>
          </div>
          <br>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="password" class="col-form-label">Hasło</label>
            </div>
            <div class="col-auto">
              <input type="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
          <div class="container">
            <div class="row row-cols-2">
              <input type="submit" value="Zaloguj" name="loguj" class="btn btn-light">
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Columns-Block-End -->
</main>
<!-- Block-End -->
{% endblock %}