
{% extends "base.html" %}
{% block content %}
    <!-- Block -->
    <main>
      <!-- 2Columns-Block -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3>Dodaj konto użytkownika</h3>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-6"><img src="static/img/img/1.jpg" class="img-fluid" alt="1.jpg"></div>
          <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
            <form method="POST" action="{{ url_for('register') }}" name="register">

                {% if alert %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="alert alert-warning" role="alert">
                {{ alert }}
              </div>
            </div>
          </div>
            {% endif %}

              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="username" class="col-form-label">login</label>
                </div>
                <div class="col-auto">
                  <input type="text" name="username" class="form-control" aria-describedby="usernameHelpInline">
                </div>
              </div>
              <br>
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="password" class="col-form-label">hasło</label>
                </div>
                <div class="col-auto">
                  <input type="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Wymagane od 8 do 20 znaków
                  </span>
                </div>
              </div>
              <br>
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="email" class="col-form-label">e-mail</label>
                </div>
                <div class="col-auto">
                  <input type="text" name="email" class="form-control">
                </div>
              </div>
              <br>
              <div class="row g-5">
                <div class="col"><input type="submit" value="Utwórz konto" name="loguj" class="btn btn-success btn-block"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Columns-Block-End -->
    </main>
    <!-- Block-End -->
    <!-- Footer -->
    {% endblock %}
  