{% extends "base.html" %}
{% block content %}
<main>
  <!-- Title/Logo -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style=color:green>Muchałówka </h1>
        <img src="static/img/img/2.gif" class="img-fluid" alt="2.gif">
      </div>
    </div>
  </div>
  <!-- Tile/Logo-End -->
  <!-- 2Columns-Block -->
  <!-- Left_Columns-Block -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <form method="POST" action="/function" name="funkcje">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <input type="submit" value="Dodaj" name="dodaj" class="btn btn-secondary">
            </li>
            <li class="list-group-item"> <input type="submit" value="Usuń" name="usun" class="btn btn-danger"></li>
            <li class="list-group-item"> <input type="submit" value="Zarządzaj alertami" name="alerty"
                class="btn btn-dark"></li>
            <li class="list-group-item"> <input type="submit" value="Powiadomienia" name="powiadomienia"
                class="btn btn-warning"></li>
            <li class="list-group-item"><input type="submit" value="Sieć" name="siec" class="btn btn-primary"></li>
            <li class="list-group-item"><input type="submit" value="Opcje" name="opcje" class="btn btn-success">
            </li>
          </ul>
        </form>
      </div>
      <!--Left_Columns-Block-End -->
      <!-- Right_Columns-Block -->
      <div class="col-sm-8">
        <form method="POST" action="/login" name="zaloguj"></form>
        <h2 style="text-align:center"> Moja sieć znajomych
        <div class="container">
          <div class="row">
            {% for user in users %}
            <div class="col">
              <div class="p-3 border rounded-1 h-100">
                <div class="row">
                  <div class="col">Imię/Pseudonim</div>
                  {{ user.username }}
                </div>
                <br>
                <div class="row">
                  <div class="col">email</div>
                  {{ user.email }}
                </div>
                <ul>
                {% for plant in user.plants %}
                <li>{{ plant.name }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col"> <input type="submit" value="Dodaj" name="dodaj" class="btn btn-dark">
            </div>
            <div class="col">
              <div class="col"> <input type="submit" value="Usuń" name="usun" class="btn btn-danger">
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <!-- Right_Columns-Block-End -->
    </div>
    <br>
    <!-- Columns-Block-End -->
</main>
<!-- Block-End -->
{% endblock %}