{% extends "base.html" %}
{% block content %}
<main>
  <div class="container container-with-padding">
    <div class="row">
      <div class="col-sm-12">
        <h3>Moja sieć znajomych</h3>
      </div>
    </div>
    <br>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="btn-group-vertical" style="width:100%;">
          <a href="#" type="button" class="btn btn-success">Dodaj znajomego</a>
          <br>
          <a href="#" type="button" class="btn btn-danger">Usuń znajomego</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container">
          <div class="row">
            {% for user in users %}
            <div class="col">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Imie/Pseudonim:
                      {{ user.username }}
                    </li>
                    <li class="list-group-item">email:
                      {{ user.email }}
                    </li>
                    <li class="list-group-item">Rośliny:
                      {% for plant in user.plants %}
                      {{ plant.name }}
                      {% endfor %}
                    </li>
                  </ul>
                </div>
              </div>
              <br>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}