{% extends "base.html" %}
{% block content %}
<main>
  <div class="container container-with-padding">
    <div class="row">
      <div class="col-sm-12">
        <h3>Moja sieć znajomych</h3>
      </div>
    </div>
    <br>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="btn-group-vertical" style="width:100%;">
          <form method="POST" name="zaloguj">
          {% if alert %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="alert alert-warning" role="alert">
                {{ alert }}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Wprowadź nick osoby którą chcesz obserwować
              </span>
            </div>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <input type="text" name="username" class="form-control" aria-describedby="passwordHelpInline">
            </div>
          </div>
          <br>
          <div class="row g-3 align-items-center">
          </div>
          <br>
          <div class="container">
            <div class="row row-cols-2">
              <input type="submit" value="Dodaj znajomego" name="dodaj" class="btn btn-success">
            </div>
            </br>
          </div>
        </form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container">
          <div class="row">
            {% for user in users %}
            <div class="col">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Imie/Pseudonim:
                      {{ user.username }}
                    </li>
                    <li class="list-group-item">email:
                      {{ user.email }}
                    </li>
                    <li class="list-group-item">Rośliny:
                      {% for plant in user.plants %}
                      {{ plant.name }}
                      {% endfor %}
                    </li>
                    </br>
                    <div class="col"> 
                      <a href="/u/{{ user.id }}" type="button" class="btn btn-secondary">Wyświetl kolekcję</a>
                      <a href="/u/{{ user.id }}/delete" type="button" class="btn btn-danger">Usuń</a>
                    </div>
                  </ul>
                </div>
              </div>
              <br>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}